
 body{
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Arial, sans-serif;
            font-size: 16px;
            height: 200px;
            margin-top: 40px;
            background: linear-gradient(to right, rgb(108, 6, 139), rgb(184, 29, 176),rgb(219, 133, 193) );
          }
          /*настраиваем отступы в полях ввода цифр, там, где задаётся время тренировки, отдыха, и количество повторов*/
          .app_form_block input[type="number"] {
              padding: 4px 4px;
          }
  
          /*задаём отступы у элементов*/
          .app_main .block_row {
              padding: 1em 0.5em;
          }
          
          /*устанавливаем размер цифр времени тренировки, отдыха, и количества повторов */
          .app_timer .app_console .timer_panel_info {
              font-size: 1.6em;
              line-height: 1.2em;
              letter-spacing: 0;
          }
  
          /*зелёный цвет*/
          .green {
              color: #BFF08E;
          }
  
          /*красный цвет*/
          .red {
              color: #E56655;
          }
  
          /*задаём размер таймера*/
          .app_timer .app_console .timer_panel_nums {
              font-size: 4.8em;
              line-height: 1.2em;
              margin-top: 50px;
          }
  
          /*учим браузер скрывать временно ненужные кнопки*/
          .app_timer .timer_btn.hide,
          .app_timer .timer_nums.hide,
          .app_timer .timer_sep.hide {
              display: none;
          }
  
          /*задаём размер кнопок*/
          .app_timer .timer_btn {
             
          
              font-size: 1.2em;
              font-weight: 400;
              line-height: 1.8em;
              padding: 8px 12px;
              margin: 0 2px;
              min-width: 180px;
          }
  
          /*настраиваем, как изменится цвет кнопки, если провести по ней мышкой*/
          .app_timer .timer_btn:hover {
              /* background-color: #777; */
              color: #FFF;
          }
  
          /*задаём размер кнопок*/
          .app_timer .timer_btn.run,
          .app_timer .timer_btn.pause {
              
              color: #5594E5;
              font-weight: 600;
          }
  
          /*настраиваем, как изменится цвет АКТИВНОЙ кнопки, если провести по ней мышкой*/
          .app_timer .timer_btn.run:hover,
          .app_timer .timer_btn.pause:hover {
              background-color: #5594E5;
              color: #FFF;
          }
          .timer_types_btn{
            font-size: 45px;
          }
          #timer_run.timer_btn.run{
            background-color: #12aa38;
            border-radius: 15px;
            color: #FFF;
          }
          #timer_clear.timer_btn {  
            background-color: #636463;
            border-radius: 15px;
            color: #FFF;
            border-color: #636463;
            
        }
        #textik{
            text-align: center;
           
        }
          .text-minnutes{
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            color: #fefffe;
            margin-right: 130px;
            padding-right: 5px;
            margin-top: -20px;
        }
        .text-seconds{
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            color: #ffffff;
            margin-left: 135px;
            margin-top: -18.5px;
          
        }
        #timer_pause.timer_btn.pause{
            background-color: #b81e1e;
            border-radius: 15px;
            color: #FFF;
            border-color: #636463;
            
        }